@(resetForm:Form[(String, String)], token: String)(implicit request: RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider
@import tags._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@basic(Some("Reset Password")) {
    <div class="content">

        @request.flash.get("error").map { msg =>
            <div class="alert alert-error">
                @Messages(msg)
            </div>
        }

        <div class="dialog">
            <form action="//@request.host/reset/@token" class="form-horizontal" autocomplete="off" method="POST" id="reset">
               @helper.inputPassword(
                    resetForm("password.password1"),
                    '_label -> "password",
                    '_showConstraints -> false
                )

                @helper.inputPassword(
                    resetForm("password.password2"),
                    '_label -> "confirm password",
                    '_error -> resetForm.error("password"),
                    '_showConstraints -> false
                )

                <div class="form-action cf">
                    <a href="#" class="button" onclick="$('#reset').submit();">reset password</a>
                </div>

            </form>
        </div>
    </div>
} {

}
