@(startForm:Form[String])(implicit request: RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider
@import tags._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@basic(Some("Reset Password")) {
    <div class="content">
        @request.flash.get("error").map { msg =>
            <div class="alert alert-error">
                @Messages(msg)
            </div>
        }

        <div class="dialog">
            <form action="//@request.host/reset" class="form-horizontal" autocomplete="off" method="POST" id="reset">
                @helper.inputText(
                    startForm("email"),
                    'type -> "email",
                    '_label -> "email",
                    '_showConstraints -> false
                )

                <div class="form-action cf">
                    <a href="#" class="button" onclick="$('#reset').submit();">reset password</a>
                </div>
            </form>
        </div>
    </div>
} {

}