@(implicit request: RequestHeader)
<html>
    <body>
        <p>Hello,</p>

        <p>We received a request to reset a password in our system.  The attempt has failed because we do not have
            a registered user with this email address. It could be that you logged in using an external user such as Twitter
            or Facebook.</p>

        <p>
            If you never created an user with us ignore this email, otherwise if you think you have an user with us contact
            tech support for further assistance.
        </p>
    </body>
</html>