@(implicit request: RequestHeader)
<html>
    <body>
        <p>Hello,</p>

        <p>We received a request to reset a password in our system.  The attempt has failed because we do not have
            a registered user with this email address. </p>

        <p>
            If you never created an user with us ignore this email, otherwise if you think you have an user with us contact
            <a href="mailto:support@@anechoicnews.com">support@@anechoicnews.com</a>.
        </p>
    </body>
</html>