@(loginForm: Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader)

@import helper._
@import securesocial.core.Registry
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword
@import tags._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@basic(Some("Login")) {
    <div class="content">
        @errorMsg.map { msg =>
            <div class="alert alert-error">
                @Messages(msg)
            </div>
        }

        @request.flash.get("success").map { msg =>
            <div class="alert alert-info">
                @msg
            </div>
        }

        @request.flash.get("error").map { msg =>
            <div class="alert alert-error">
                @msg
            </div>
        }

        <div class="dialog">
            <form action="//@request.host/authenticate/userpass" class="form-horizontal" autocomplete="off" method="POST" id="login">
                @helper.inputText(
                    loginForm("username"),
                    '_label -> "username",
                    '_showConstraints -> false,
                    'autocapitalize -> "none"
                )

                @helper.inputPassword(
                    loginForm("password"),
                    '_label -> "password",
                    '_showConstraints -> false
                )

                <div class="form-action cf">
                    <a href="#" class="button" onclick="$('#login').submit();">login</a>
                </div>

                <div class="secondary">
                    <a href="@securesocial.core.providers.utils.RoutesHelper.startResetPassword()">reset password</a> | <a href="//@request.host/signup">join</a>
                </div>
            </form>
        </div>
    </div>
} {

}