@(passwordChangeForm:Form[securesocial.controllers.PasswordChange.ChangeInfo])(implicit request: RequestHeader)
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper._
@import tags._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@basic(Some("Change Password")) {
    <div class="content">

        @request.flash.get("error").map { msg =>
            <div class="alert alert-error">
                @msg
            </div>
        }

        @if( request.flash.get("success").isDefined ) {
            <div class="alert alert-info">
                @request.flash.get("success").get
            </div>
        } else {
            <div class="dialog">
                <form action="//@request.host/password" class="form-horizontal" autocomplete= "off" method="POST" id="password">
                    @helper.inputPassword(
                        passwordChangeForm("currentPassword"),
                        '_label -> "current password",
                        '_showConstraints -> false
                    )

                    @helper.inputPassword(
                        passwordChangeForm("newPassword.password1"),
                        '_label -> "new password",
                        '_showConstraints -> false
                    )

                    @helper.inputPassword(
                        passwordChangeForm("newPassword.password2"),
                        '_label -> "confirm new password",
                        '_error -> passwordChangeForm.error("newPassword"),
                        '_showConstraints -> false
                    )

                    <div class="form-action cf">
                        <a href="#" class="button" onclick="$('#password').submit();">change password</a>
                    </div>
                </form>
            </div>
        }
    </div>
    <script>
        var page = "changePassword";
    </script>
} {

}