@(title: Option[String], user: Option[securesocial.core.Identity] = None)(body: Html)(menu: Html)(implicit request: play.api.mvc.RequestHeader)

@import tags._
@import helpers.Formatting

<!DOCTYPE html>
<html>
    <head>
        <title>
        @title match {
            case Some(title) => { @title - Anechoic News }
            case None => { Anechoic News }
        }
        </title>
        @user match {
            case Some(user: model.User) => {
                <link rel="stylesheet" id="css" href="@Formatting.asset("css/" + user.scheme +".css")"/>
                }
            case _ => {
                <link rel="stylesheet" id="css" href="@Formatting.asset("css/" + request.cookies.get("scheme").fold("dark")(cookie => cookie.value) +".css")"/>
                }
        }
        @requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/main").url)
        <script>anechoic_base_url = "//@request.host/";</script>
        <meta name="google-site-verification" content="4Jsr9fqJTEu8XrCVCMSsyna3yxTbkzfPQhoCeVtpkac" />
        <meta name="viewport" content="width=device-width; maximum-scale=1.0;" />
        <link rel="shortcut icon" href="@Formatting.asset("img/logo.ico")" type="image/x-icon">
        <link rel="icon" href="@Formatting.asset("img/logo.ico")" type="image/x-icon">
        <link rel="apple-touch-icon" href="@Formatting.asset("img/logo57.png")" sizes="57x57">
        <link rel="apple-touch-icon" href="@Formatting.asset("img/logo72.png")" sizes="72x72">
        <link rel="apple-touch-icon" href="@Formatting.asset("img/logo76.png")" sizes="76x76">
        <link rel="apple-touch-icon" href="@Formatting.asset("img/logo114.png")" sizes="114x114">
        <link rel="apple-touch-icon" href="@Formatting.asset("img/logo120.png")" sizes="120x120">
        <link rel="apple-touch-icon" href="@Formatting.asset("img/logo144.png")" sizes="144x144">
        <link rel="apple-touch-icon" href="@Formatting.asset("img/logo152.png")" sizes="152x152">
    </head>
    <body>
        <div class="header cf">
            <div class="logo">
                <a href="//@request.host/">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 21 21">
                        <rect x="1" y="0" width="2" height="10"/>
                        <rect x="4" y="0" width="2" height="10"/>
                        <rect x="7" y="0" width="2" height="10"/>
                        <rect x="11" y="1" width="10" height="2"/>
                        <rect x="11" y="4" width="10" height="2"/>
                        <rect x="11" y="7" width="10" height="2"/>
                        <rect x="0" y="12" width="10" height="2"/>
                        <rect x="0" y="15" width="10" height="2"/>
                        <rect x="0" y="18" width="10" height="2"/>
                        <rect x="12" y="11" width="2" height="10"/>
                        <rect x="15" y="11" width="2" height="10"/>
                        <rect x="18" y="11" width="2" height="10"/>
                    </svg>
                </a>
            </div>
            <div class="mast">
                <h1><a href="//@request.host/">Anechoic News</a></h1>
                <div class="tag">All the news&mdash; None of the noise</div>
            </div>
            @menu
        </div>
        <div class="frame cf">
        @body
        </div>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-43912607-1', 'anechoicnews.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>
