@(title: Option[String], user: Option[securesocial.core.Identity])(body: Html)(implicit request: play.api.mvc.RequestHeader)

<html>
    <head>
        <title>
            @title match {
                case Some(title) => { @title - Anechoic News }
                case None => { Anechoic News }
            }
        </title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"/>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.1.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
    </head>
    <body>
        <div class="header">
            <div class="logo"></div>
            <div class="mast">
                <h1>Anechoic News</h1>
                <div class="tag">All the news&mdash; None of the noise</div>
            </div>
        </div>
        <div class="frame">
            @user match {
                case Some(user) => { Welcome, @user.id.id }
                case None => { <a href="//@request.host/login">Login</a> }
            }
            <hr>
            @body

        </div>
    </body>
</html>
