background-color: @background;
color: @foreground;
font-family: @fonts;

.ninja {
  visibility: hidden;
}

.header {
  margin: auto auto 15px auto;
  width: 1400px;
  max-width: 85%;
  height: 50px;
  position: relative;

  .logo {
    height: 50px;
    width: 50px;
    float: left;
  }

  .mast {
    float: left;
    display: inline-block;
    margin: auto 0px auto 5px;
  }

  h1 {
    margin: 3px;
    font-size: 25px;
    text-transform: uppercase;
  }

  .tag {
    margin: 0px 3px 3px 3px;
    text-transform: lowercase;
    font-size: 10px;
  }

  ul {
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }

  li {
    padding: 0px 5px 0px 5px;
    float: left;

    a {
      font-size: 12px;
      text-decoration: none;

    }
  }
}

.frame {
  margin: auto;
  width: 1400px;
  max-width: 85%;
}


