@eigengrau: #16161D;
@cosmic_beige: #FFF8E7;
@fonts: Consolas, Monaco, Courier New;

.dark {
  @background: @eigengrau;
  @foreground: @cosmic_beige;
  @import "_main";
}

.light {
  @background: @cosmic_beige;
  @foreground: @eigengrau;
  @import "_main";
}