@(user: Option[securesocial.core.Identity], comment: model.Comment)(implicit request: play.api.mvc.RequestHeader)

@import tags._

@frame(user, Option("Comment")) {
    <div>
        <div>@comment.text</div>
        <div>@comment.user.identityId.userId</div>
        <div>@comment.score</div>
        <div>@comment.createdAt</div>
    </div>
    <hr>
    <form action="@routes.Forms.comment()" method="POST">
        comment: <textarea name="comment"></textarea>
        <input type="hidden" name="storyId" value="@comment.story.id">
        <input type="hidden" name="parentId" value="@comment.id">
        <input type="submit" value="submit">
    </form>
}