@(user:securesocial.core.Identity)(implicit request: play.api.mvc.RequestHeader)

@import tags._

@frame(Option(user), Option("Dashboard")) {
    <div id="dashboard" class="dashboard">
        <div class="top"><a href="//@request.host/dashboard/config"><i class="icon-gears"></i></a></div>
    </div>
}

<script id="weather-template" type="text/x-lowdash-template">
    @Html(helpers.Web.include("resources/weather._"))
</script>

<script id="weather-icon-template" type="text/x-lowdash-template">
    @Html(helpers.Web.include("resources/weather-icon._"))
</script>

<script>
    $(document).ready(function() { Anechoic.Dashboard.load(); });
</script>
