@(user: securesocial.core.Identity)(implicit request: play.api.mvc.RequestHeader)

@import tags._

@frame(Option(user), Option("Configure Dashboard")) {
    <div class="dashboard-config">

        Drag and drop the widgets to create the layout you'd like. Empty columns and widgets in the unassigned column will not be displayed

        <div id="dashboard-layout" class="cf"></div>

        <div>
            <a href="#" class="button" onclick="Anechoic.Dashboard.Config.saveLayout()">save</a>
        </div>

        <form id="newfeed" method="POST">
            New Feed
            <input type="text" name="url"/>
            <select name="max">
                @for(x <- 1 to 25) {
                    <option value="@x">@x</option>
                }
            </select>
            <a href="#" class="button" onclick="Anechoic.Dashboard.Config.addFeed();">add feed</a>
        </form>

        <hr>

        <form id="newweather" method="POST">
            New Weather
            <input type="text" id="city" name="city"/>
            <a href="#" class="button" onclick="Anechoic.Dashboard.Config.addWeather();">add weather</a>
        </form>
    </div>

    <script id="feed-template" type="text/x-lowdash-template">
        <h3>
            <i class="icon-rss"></i>
            Feed
            <a href="#" class="remove" id="remove_<%=id%>"><i class="icon-remove-circle remove"></i></a>
        </h3>
        <div class="desc">
            <%=properties.url%>
        </div>
    </script>

    <script id="weather-template" type="text/x-lowdash-template">
        <h3>
            <i class="icon-sun"></i>
            Weather
            <a href="#" class="remove" id="remove_<%=id%>"><i class="icon-remove-circle remove"></i></a>
        </h3>
        <div class="desc">
            <%=properties.city%>
        </div>
    </script>

    <script id="welcome-template" type="text/x-lowdash-template">
        <h3>
            <i class="icon-tag"></i>
            Welcome
            <a href="#" class="remove" id="remove_<%=id%>"><i class="icon-remove-circle remove"></i></a>
        </h3>
        <div class="desc">
            blah blah blah...
        </div>
    </script>

    <script>
        $(document).ready(Anechoic.Dashboard.Config.startup);
    </script>
}

