@(user: securesocial.core.Identity)(implicit request: play.api.mvc.RequestHeader)

@import tags._

@frame(Option(user), Option("Configure Dashboard")) {
    <div class="dashboard-config">

        <div class="instructions cf">
            <div id="spinner" class="spinner ninja">
                <i class="icon-spinner icon-spin icon-large"></i>
            </div>
            Drag and drop the widgets to create the layout you'd like. Empty columns and widgets in the unassigned column will not be displayed.
        </div>

        <div id="dashboard-layout" class="cf"></div>

        <hr>

        <div class="choose-widget">
            <div>Choose a widget to add:</div>
            <select size="2" id="add-widget" class="add-widget-select">
                <option value="feed">Feed</option>
                <option value="weather">Weather</option>
            </select>
        </div>

        <div class="add-widget ninja" id="add-feed">
            <h3>New Feed</h3>
            <form id="newfeed" method="POST">
                <div class="form-item">
                    URL: <input type="url" name="url" size="50"/>
                </div>

                <div class="form-item">
                    Max Items: <select name="max">
                    @for(x <- 1 to 25) {
                        @if(x == 10) {
                            <option value="@x" selected>@x</option>
                        } else {
                            <option value="@x">@x</option>
                        }
                    }
                    </select>
                </div>
                <a href="#" class="button" id="addfeed">add feed</a>
            </form>
        </div>

        <div class="add-widget ninja" id="add-weather">
            <h3>New Weather</h3>
            <form id="newweather" method="POST">
                <div class="form-item">
                    City: <input type="text" id="city" name="city" size="50"/>
                </div>
                <a href="#" class="button" id="addweather">add weather</a>
            </form>
        </div>
    </div>

    <script id="feed-template" type="text/x-lowdash-template">
        <h3>
            <i class="icon-rss"></i>
            Feed
            <a href="#" class="remove" id="remove_<%=id%>"><i class="icon-remove-circle remove"></i></a>
        </h3>
        <div class="desc">
            <%=properties.url%>
        </div>
    </script>

    <script id="weather-template" type="text/x-lowdash-template">
        <h3>
            <i class="icon-sun"></i>
            Weather
            <a href="#" class="remove" id="remove_<%=id%>"><i class="icon-remove-circle remove"></i></a>
        </h3>
        <div class="desc">
            <%=properties.city%>
        </div>
    </script>

    <script id="welcome-template" type="text/x-lowdash-template">
        <h3>
            <i class="icon-tag"></i>
            Welcome
            <a href="#" class="remove" id="remove_<%=id%>"><i class="icon-remove-circle remove"></i></a>
        </h3>
        <div class="desc">
            blah blah blah...
        </div>
    </script>

    <script>
        var page = "dashboard-config";
    </script>
}

