@(user: Option[securesocial.core.Identity], stories: List[model.Story])(implicit request: play.api.mvc.RequestHeader)

@import tags._

@frame(None, user) {

    @for(story <- stories) {
        <div class="story_list">
            <div><a href="@story.url">@story.title</a></div>
            <div>@story.user.get.id.id</div>
            <div>@story.createdAt</div>
            <div>@story.score</div>
            <a href="//@request.host/story/@story.id">Discuss</a>
        </div>
        <hr>
    }
}