@(user: Option[securesocial.core.Identity], story: model.Story, comments: model.CommentHierarchy)(implicit request: play.api.mvc.RequestHeader)

@import tags._

@frame(Option(story.title), user) {

    <div class="story cf">
        @story_summary(story)
    </div>

    <form action="@routes.Forms.comment()" id="newcomment" method="POST">
        <div class="newcomment cf">
            <textarea name="comment"></textarea>
            <input type="hidden" name="storyId" value="@story.id">
            <a href="#" class="button" onclick="$('#newcomment').submit(); return false;">add comment</a>
        </div>
    </form>
    @for(comment <- comments.root) {
        @nest(comment, 0, story.id)
    }
}